body {
    background-image: url('computacio.jpg'); /* Cambia la ruta */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
  }
#contenedor2{
    margin-left: 170px;
    margin-top: 50px;
    padding: 100px;

}
.contenedor_principal{
    margin-left: 170px;
   
}

h3{
    font-family: monospace;
}

input{
    border-radius: 10px;
    border:solid 2px turquoise;
    background-color: transparent;
}

button{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    background-color: turquoise;
}